@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.cen {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
#forum {
   /* overflow: auto;*/
   height: 200px;
   margin-top: 50px;
}
#forum a {
    display: block;
    width: 25%;
    height: 200px;
    float: left;
    background-color: #06c;
    color: white;
    border-right: 1px solid rgba(255,255, 255,0.5);
    padding: 1.5em, 1em;
    transition: all 0.4s;
}

#forum a:last-of-type {
    border-right:none;
}

#forum a:hover {
    transform: scale(1.2);
    background-color: black;
}











/*tablet pc css*/
@media all and (max-width:1024px) {
    #forum {
        height: 400px;
        
    }

    #forum a {
        width : 50%;
        border-bottom: 1px solid rgba(255,255, 255,0.5);
    }
 
    
}

/*mobile css*/
@media all and (max-width:720px) {
    #forum {
        height: 800px;
    }
    #forum a {
        width: 100%;

    }
}
